Django
djangorestframework
django-cors-headers
mysqlclient
celery
redis
channels
channels-redis
elasticsearch-dsl
transformers
torch
sentence-transformers
scikit-learn
networkx
PyPDF2
Pillow
django-extensions
djangorestframework-simplejwt
django-filter
pandas
numpy
matplotlib
seaborn
tensorflow-keras